* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #c5dc60;
  --color-text: #c2d862;
  --gallery-gap: calc(var(--index) * 4);
}

@font-face {
  font-family: releway-c;
  src: url("/fonts/raleway-regular.woff2");
}

@font-face {
  font-family: outfit-c;
  src: url("/fonts/outfit-regular.woff2");
}

body {
  background-color: #333;
  color: #fafafa;
  font-family: releway-c;
  overflow-x: hidden;
  padding-bottom: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
}

/* will change */

.hero-image,
.main-header,
.gallery-left,
.gallery-right {
  will-change: transform;
}

.hero-image {
  width: calc(var(--index) * 50);
  position: absolute;
  left: 20vw;
  top: 8vh;
  z-index: -1;
}

.main-header {
  height: 100vh;
}

.container {
  padding: 0 13vw;
}

.main-tittle {
  font-size: calc(var(--index) * 5);
  position: absolute;
  width: min-content;
  bottom: 10vh;
  line-height: 0.9;
  color: var(--color-text);
}

.gallery {
  display: flex;
  padding: calc(var(--index * 8)) 0;
  margin-top: calc(var(--gallery-gap) * 0.5);
}

.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery-item {
  max-width: calc(var(--index) * 15);
  margin-bottom: var(--gallery-gap);
  max-height: 80vh;
  border-radius: 8px;
}

.portfolio {
  margin-top: 300px;
}

.gallery-left {
  margin-top: calc(var(--gallery-gap));
}

.gallery-right {
  margin-top: calc(var(--gallery-gap));
}

.text-block {
  color: var(--color-text);
}

.text-block-h {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

.text-block-p {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 30px;
}
